.nav__list .nav__items {
  margin: 0;
  font-size: 1.25rem;
  font-family: $sans-serif;

  img { // 방문자수 이미지 크기 맞추느라 추가했던 것
    width: auto; height: auto;
    max-width: 140px;
    max-height: 38px;
    margin-bottom: 1em;
  }
}
